.Activated {

        background-color: #2196F3;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        outline: none;
        width: 100%;

    background-color: black;
}
.NotActivated {

        background-color: #2196F3;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        outline: none;
        width: 100%;

    background-color: blue;
}